.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  table {
    border: 2px solid forestgreen;
    width: 800px;
    height: auto;
  }
  
  th {
    border-bottom: 1px solid black;
    padding: 20px;
    font-size: 24px;
  }
  
  td {
    font-size: 18px;
    text-align: center;
    padding: 20px;
  }
  