.parent {
  display: flex;
  flex-direction: column;
}

.folder {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
  width: 300px;
  margin-top: 5px;
}

.buttonContainer > button {
  margin-left: 5px;
}

.child {
  padding-left: 25px;
}
