.boxes {
  display: flex;
  height: 180px;
  width: 180px;
  border: 3px solid #000;
  border-radius: 12px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.board {
  height: 600px;
  width: 564px;
  display: flex;
  margin: auto;
}
